#header
{height:10%;
width:30%;
margin-left:32%;
margin-top:5%;
background-color:white;
}
#loginbox
{height:315px;
width:573px;
margin:80px 400px 74px 398px;
border-radius:5px;
background-color:white;
position:absolute;
}
#continue
{width:50%;
height:100%;
float:left;
color:blue;
}
#login
{width:50%;
height:100%;
float:left;
line-height:25px;}
#log
{background-color:lightyellow;
height:40px;
width:252px;
border-radius:5px;}